<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.hunnor.dict"
	android:installLocation="auto"
	android:versionCode="26"
	android:versionName="2.0">

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application
			android:allowBackup="true"
			android:icon="@drawable/dictionary"
			android:label="@string/app_name">

		<activity
				android:label="@string/app_name"
				android:name="net.hunnor.dict.SearchActivity"
				android:theme="@android:style/Theme.Light.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="net.hunnor.dict.ACTIVITY_SEARCH"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity
				android:label="@string/app_name"
				android:name="net.hunnor.dict.DatabaseActivity"
				android:theme="@android:style/Theme.Light.NoTitleBar">
			<intent-filter>
				<action android:name="net.hunnor.dict.ACTIVITY_DATABASE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

	</application>

</manifest>
